<div class="card">
  <div class="search">
    <input
      #cityName
      type="text"
      placeholder="Enter city name"
      spellcheck="false"
    />
    <button>
      <img
        src="../assets/images/search.png"
        alt=""
        (click)="checkWeather(cityName.value)"
      />
    </button>
  </div>
  <div *ngIf="isNothingFound; else weather" class="emptyState">
    <h1>Not Found</h1>
    <img src="../assets/images/emptyState.png" alt="" />
  </div>
  <ng-template #weather>
    <div class="weather">
      <img [src]="imgUrl" alt="" class="weather-icon" />
      <h1 class="temp">{{ temp }}°c</h1>
      <h2 class="city">{{ city }}</h2>
      <div class="details">
        <div class="col">
          <img src="../assets/images/humidity.png" alt="" />
          <div>
            <p class="humidity">{{ humidity }}%</p>
            <p>Humidity</p>
          </div>
        </div>
        <div class="col">
          <img src="../assets/images/wind.png" alt="" />
          <div>
            <p class="wind">{{ wind }} km/h</p>
            <p>Wind Speed</p>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
